<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
	<link rel="stylesheet" type="text/css" href="css/todo.css" />
	<title></title>
</head>
<body>
<div class="todoVue" id="todoVue">
	<div class="mui-content todo_box">
		<ul class="mui-table-view todo_ul">
			<li class="todoLi mui-table-view-cell todo_li" v-for="(item,index) in todoList" :key='index' :data-eid='item.eid' :data-rid='item.rid'>
				<div class="todo_li_top">
					<span>
						<font class="mui-icon mui-icon-info" v-if="item.is_read==0" style="background: red;color: #fff;
								border-radius: 50%;"></font><!-- 未读 -->
						<font class="mui-icon mui-icon-info" v-if="item.is_read==1" style="background: #fff;color: #000;
								border-radius: 50%;"></font><!-- 已读 -->
						{{item.title}}
					</span>
					<div style="margin-right: 5px;">
						<p style="color: #000000;" class="fl">{{item.create_time}}</p>
					</div>
				</div>
				<div class="todo_li_content" v-if="item.content==null?false:true">
					{{item.content}}
				</div>
			</li>
		</ul>
	</div>
</div>

<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/jquery3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	window.addEventListener('refresh', function(e) { //执行刷新
		location.reload();
	});
	var vm = new Vue({
		el: '.todoVue',
		data() {
			return {
				todoList: [],
				// show: false
			}
		},
		components: {},
		props: {},
		computed: {},
		mounted() {
			var _this = this;
			$.ajax({
				url: globalUrl + 'admin/record/dolist',
				type: 'post',
				dataType: 'json',
				headers: { //设置http头参数
					"authKey": authKey,
					"sessionId": sessionId
				},
				data: {},
				success(res) {
					if (res.code == '200') {
						if (res.error.length > 0) { //有数据
							_this.todoList = res.error
							// _this.show = true
						} else { //无数据
							// mui.toast('暂无数据');
							return false
						}
					} else {
						console.log(res.error);
					}
				},
				error(err) {
					mui.toast('网络请求失败，请重试');
				}
			});

		},
		methods: {}
	});
	$(document).on('tap', '.todoLi', function() {
		var eid = $(this).data('eid');
		var rid = $(this).data('rid');
		$.ajax({
			url: globalUrl + 'admin/record/readdolist',
			type: 'post',
			dataType: 'json',
			headers: { //设置http头参数
				"authKey": authKey,
				"sessionId": sessionId
			},
			data: {
				"eid": eid,
				"rid": rid
			},
			success(res) {},
			error(err) {
				mui.toast('网络请求失败，请重试');
			}
		});
		
		setTimeout(function() {
			//跳转传参
			mui.openWindow({
				url: '../profile/approval/approval-item.html',
				extras: {
					eid: eid //自定义扩展参数，可以用来处理页面间传值
				}
			});
		}, 500);
	})
</script>


<script type="text/javascript">
	mui.init({
		beforeback: function() {
			return false;
		},
		//下拉刷新
		pullRefresh : {
			container:"#todoVue",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
			down : {
				style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
				color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
				height:'50px',//可选,默认50px.下拉刷新控件的高度,
				range:'100px', //可选 默认100px,控件可下拉拖拽的范围
				offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
				auto: false,//可选,默认false.首次加载自动上拉刷新一次
				callback: function() {//必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
					//业务逻辑代码，比如通过ajax从服务器获取新数据;
					$.ajax({
						url: globalUrl + 'admin/record/dolist',
						type: 'post',
						dataType: 'json',
						headers: { //设置http头参数
							"authKey": authKey,
							"sessionId": sessionId
						},
						data: {},
						success(res) {
							if (res.code == '200') {
								mui('#todoVue').pullRefresh().endPulldown();//关闭下拉刷新加载
								mui.toast('刷新成功')
								if (res.error.length > 0) { //有数据
									vm.todoList = res.error
								} else { //无数据
									mui.toast('暂无数据');
									return false
								}
							} else {
								console.log(res.error);
							}
						},
						error(err) {
							mui.toast('网络请求失败，请重试');
						}
					});
					//注意，加载完新数据后，必须执行如下代码，注意：若为ajax请求，则需将如下代码放置在处理完ajax响应数据之后
					//没有更多内容了，endPulldown 传入true， 不再执行下拉刷新
					
				}
			}
		},
		
	  
	});
	
</script>
</body>
</html>
