body{
	background: url(../../../../../assets/images/index/menu/emergency/emergency_bg.jpg) no-repeat;background-size: cover;margin-top: 30%;
}
.emergency_box{
width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    height: 20%;
}
.emergency_box button,button:enabled:active,.mui-btn:enabled:active{
	background: url(../../../../../assets/images/index/menu/emergency/emergency_btn_bg.png) no-repeat;
  background-size: 100% 100%;
  border: 0;
  height: 5rem;
}
